# Created by https://www.toptal.com/developers/gitignore/api/python,windows,linux
# Edit at https://www.toptal.com/developers/gitignore?templates=python,windows,linux
./backend/logs
### Linux ###
*~
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class